<?xml version="1.0" encoding="UTF-8"?>

<web-app>
    <servlet>
        <servlet-name>demo2Servlet</servlet-name>
        <servlet-class>com.github.codingdebugallday.demo2.servlet.Demo2Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>demo2Servlet</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>
</web-app>